<html>
	<body>
		<h1>OSNAP</h1>			
		<h3>LOST Asset Tracking System</h3>
		<table><tr><td><a href={{url_for('dashboard')}}>Return</a></td><td><a href={{url_for('logout')}}>Logout</a></td></tr></table>

		<p><span style="color=red">{{session.msg}}</span></p>
		Logged in as: {{session.username}}

		<table><form action={{url_for('add_facility')}} method="POST">
				<p>LOST knows of the following facilities: </p>
			<tr><th>Add a new facility:</th></tr>
			<tr><td><input type='text' name='fcode' placeholder='EX 000' cols="6" maxlength="6"/></td></tr>
			<tr><td><input type='text' name='common_name' placeholder='Example Site:001' cols="16" maxlength="16"/></td></tr>		
			<tr><td><button type="submit">Add facility to LOST</button></td></tr>
		</form></table>
	</body>
</html>
