<html>
	<body>
	<h1>OSNAP</h1><a href={{url_for('logout')}}>logout</a>
	<h3>LOST Asset Tracking System</h3>
	<p><span style="color=red"></span></p>
	Logged in as: {{session.username}}
	<table><tr><th>Logistics Operations</th>
	<th><a href=http://127.0.0.1:8080/add_facility>Add Facility</a></th>
	<th><a href=http://127.0.0.1:8080/add_asset>Add Asset</a></th>
	<th><a href=http://127.0.0.1:8080/dispose_asset>Dispose Asset</a></th>
	<th><a href=http://127.0.0.1:8080/>Asset Report</a></th>
	<th><a href=http://127.0.0.1:8080/>Transfer Report</a></th>
	<th><a href=http://127.0.0.1:8080/>Transfer Req</a></th>
	</tr></table>

	<table><tr><th>Facilities Operations</th>
	<th><a href=http://127.0.0.1:8080/add_facility>Add Facility</a></th>
	<th><a href=http://127.0.0.1:8080/add_asset>Add Asset</a></th>
	<th><a href=http://127.0.0.1:8080/>Asset Report</a></th>
	<th><a href=http://127.0.0.1:8080/>Transfer Report</a></th>
	</tr></table>

	<table><tr><td>Pending work will appear here...</td></tr></table>
	<tr><td>Logistics Notifications</td>
		<td>Requests Pending</td></tr>
	<tr><td>Facilities Notifications</td>
		<td>Approvals Pending</td></tr>
	</body>
</html>
