<html>
	<body>
	<h1>OSNAP</h1>
	<h3>LOST Asset Tracking System</h3>
	<a href={{url_for('logout')}}>Logout</a>

	<p><span style="color=red">{{session.msg}}</span></p>
	Logged in as: {{session.username}}
	
	<table><tr><th>Officer Actions:</th>
	<th><a href=http://127.0.0.1:8080/add_facility>Add Facility</a></th>
	<th><a href=http://127.0.0.1:8080/add_asset>Add Asset</a></th>
	<th><a href=http://127.0.0.1:8080/dispose_asset>Dispose Asset</a></th>
	<th><a href=http://127.0.0.1:8080/>Asset Report</a></th>
	<!--<th><a href=http://127.0.0.1:8080/>Transfer Report</a></th>-->
	<th><a href=http://127.0.0.1:8080/>Transfer Request</a></th>
	</tr></table>

	<!--<table><tr><th>Facilities Operations</th>
	<th><a href=http://127.0.0.1:8080/add_facility>Add Facility</a></th>
	<th><a href=http://127.0.0.1:8080/add_asset>Add Asset</a></th>
	<th><a href=http://127.0.0.1:8080/>Asset Report</a></th>
	<th><a href=http://127.0.0.1:8080/>Transfer Report</a></th>
	</tr></table>-->

	<table><tr><th>Logistics Notifications</th></tr>
		<tr><td>Tracking Updates</td>
			<td>Action</td></tr>
		<tr><td>ASSET</td>
			<td>LOAD</td>
			<td>UNLOAD</td></tr>
	</table>
	<table><tr><th>Facilities Notifications</th></tr>
		<tr><td>Approval Required</td>
			<td>Action</td></tr>
		<tr><td>ASSET</td>
			<td>APPROVE</td>
			<td>DENY</td></tr>
	</table>
	</body>
</html>
