

<html>
	<body>
		<p>{{data}} <a href="/logout">Sign Out</a></p>
		<h1>OSNAP</h1><br>
		<h3>LOST Asset Tracking System</h3><br>		
		<h4>Select options to filter your results:</h4>
		<table><tr>
		<fieldset><legend>Inventory Request</legend>
		
			<form action="/inventory" name="inventory filter">
				<input type="date"/>
				<select name="facility">
					<option value="f00">All</option>
					<option value="f01">HQ</option>
					<option value="f02">LA</option>
					<option value="f03">NC</option>
					<option value="f04">MB005</option>
					<option value="f05">SPNV</option>
				</select>
				<input type="submit" value="Generate Inventory Report"></input>
	
			</form>		
		</fieldset></tr>
		<tr><fieldset><legend>Transit Request</legend>	
			<form action="/transit" name="transit filter">
				<input type="date"/>
				<select name="facility">
					<option value="f00">All</option>
					<option value="f01">HQ</option>
					<option value="f02">LA</option>
					<option value="f03">NC</option>
					<option value="f04">MB005</option>
					<option value="f05">SPNV</option>
			</select>
			<input type="submit" value="Generate Tracking Report"></input>
			</form>	
		
		</fieldset>
		</tr>
	</body>
</html>
