<html>
<body>
	<h2>LOST ReST API Calls</h2>
	<table>
		<tr>
			<th>API CALL</th>
			<th>ARGUMENTS</th>
			<th>DESCRIPTION</th>
		</tr>
		<tr>
			<th>activate_user</th>
			<td>username</td>
			<td>Give access to LOST for [username]</td>
		</tr>
		<tr>
			<td></td>
			<td>password</td>
			<td>updates password if different</td>
		</tr>
		<tr>
			<td></td>
			<td>role</td>
			<td>creates new user if necessary</td>
		</tr>
		<tr>
			<th>suspend_user</th>
			<td>username</td>
			<td>Revoke access to LOST for [username]</td>
		</tr>
	</table>
</body>
</html>

