<html>
	<body>
		<h2>LOST ReST API Calls</h2>
		<table>
			<h4>.timestamp does not get called as a parameter for client scripts</h4>
			<tr>
				<th>API CALL</th>
				<th>ARGUMENTS</th>
				<th>DESCRIPTION</th>
			</tr>
			<tr>
				<td>lost_key</td>
				<td></td>
				<td>request a new key</td>
			</tr>
			<tr>
				<td>activate_user</td>
				<td>.timestamp, username</td>
				<td>add new user to LOST</td>
			</tr>
			<tr>
				<td>suspend_user</td>
				<td>.timestamp, username</td>
				<td>remove user from LOST</td>
			</tr>
			<tr>
				<td>list_products</td>
				<td>.timestamp, vendor, description, compartments</td>
				<td>return list of all products that meet filter</td>
			</tr>
			<tr>
				<td>add_products</td>
				<td>.timestamp, new_products{vendor, description, alt_description, compartments}</td>
				<td>add each block of new_products to database</td>
			</tr>
			<tr>
				<td>add_asset</td>
				<td>.timestamp, vendor, description, compartments, facility</td>
				<td>add a new asset to LOST</td>
			</tr>
	</body>
</html>
