<html>
	<body>
		<h1>OSNAP</h1>
		<h3>LOST Asset Tracking System</h3>
		<table><form action={{url_for('create_user')}} method="POST">
			<tr><th>Sign up for an account:</th></tr>
			<tr><td><input type='text' name='username' placeholder='Create a Username' cols="16"/></td></tr>
			<tr><td><input type='password' name='password' placeholder='Create a Password' cols="16"/></td></tr>
			<tr><td> </td></tr>
			<tr><td><button type="submit">Request access to LOST</button></td></tr>
		</form></table>
		<p><span style="color: red;">The username {{session.username}} is already taken, please choose another.</span></p>
		</body>
</html>
